{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content"><img src="http://placehold.it/350X150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda libero non officiis tenetur vitae
                voluptas?</p>
            <p>A consectetur dolorum est harum illum, ipsa laborum, neque numquam omnis pariatur quae sunt vel!</p>
        </div>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at consequuntur distinctio dolor ducimus
            error iusto neque quia sunt voluptatum! A atque cupiditate debitis, deleniti dicta dolore dolorem earum
            eveniet ipsam iusto laboriosam maxime mollitia necessitatibus nisi omnis perspiciatis quae quis recusandae,
            saepe tenetur veniam vero voluptate. Cupiditate, minus, perferendis!</p>
        <p>Aliquam amet commodi consequuntur deleniti, distinctio dolorem doloribus dolorum, eaque eos esse itaque
            minima modi non quae quis sapiente sequi sunt tempora velit voluptatem. Ad dolor est, harum, hic inventore
            magnam neque optio, quia similique tempora totam voluptates! Culpa dignissimos est et ex fuga itaque
            mollitia, officiis perferendis. Dolorum, minus?</p>
    </article>
{% endblock %}